<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/assets/styles/index.css">
  <title>Meetup Page Draft</title>
</head>
<body>
<div id="app">
  <div>
    <div class="meetup-cover" :style="processedMeetup.cover ? `--bg-url: url('${processedMeetup.cover}')` : ''">
      <h1 class="meetup-cover__title">{{ processedMeetup.title }}</h1>
    </div>

    <div class="container">
      <div class="meetup">
        <div class="meetup__content">
          <template v-if="processedMeetup.description">
            <h3>Описание</h3>
            <p class="meetup-description">{{ processedMeetup.description }}</p>
          </template>
          <h3>Программа</h3>
          <div class="meetup-agenda">
            <p class="meetup-agenda__empty" v-if="!processedMeetup.agenda.length">Программа пока пуста, но когда-нибудь в ней обязательно что-нибудь появится!</p>
            <template v-else>
              <div class="meetup-agenda__item" v-for="agenda in processedMeetup.agenda" :key="agenda.id">
                <div class="meetup-agenda__item-col">
                  <img class="icon" alt="icon" :src="`/assets/icons/icon-${agenda.icon}.svg`" />
                </div>
                <div class="meetup-agenda__item-col">{{ agenda.startsAt }} - {{ agenda.endsAt }}</div>
                <div class="meetup-agenda__item-col">
                  <h5 class="meetup-agenda__title" v-html=" agenda.title"></h5>
                  <template v-if="agenda.type === 'talk'">
                    <p><span>{{ agenda.speaker }}</span><span class="meetup-agenda__dot"></span><span class="meetup-agenda__lang">{{ agenda.language }}</span></p>
                    <p>{{ agenda.description }}</p>
                  </template>
                </div>
              </div>
            </template>
          </div>
        </div>

        <div class="meetup__aside">
          <ul class="info-list">
            <li>
              <img class="icon info-list__icon" alt="icon" src="/assets/icons/icon-user.svg" />
              {{ processedMeetup.organizer }}
            </li>
            <li>
              <img class="icon info-list__icon" alt="icon" src="/assets/icons/icon-map.svg" />
              {{ processedMeetup.place }}
            </li>
            <li>
              <img class="icon info-list__icon" alt="icon" src="/assets/icons/icon-cal-lg.svg" />
              <time datetime="processedMeetup.date">{{ processedMeetup.localeDate }}</time>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="module" src="script.js"></script>
</body>
</html>
